<div class="container-contents">
  <h3>Tweets for {{ (memberName | async) }}</h3>

  <table class="table table-sm table-hover table-bordered table-members">
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Text</th>
        <th>RT</th>
        <th><a (click)="getLatestTweets()" class="btn btn-sm btn-info">Get Latest</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="filters"></td>
        <td class="filters"></td>
        <td class="filters"></td>
        <td class="filters"></td>
      </tr>
      <tr *ngFor="let tweet of (tweets$ | async)">
        <td>{{ tweet.createdAt }}</td>
        <td>{{ tweet.fullText }}</td>
        <td>{{ tweet.isRetweet }}</td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <!--<jw-pagination [items]="members" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>-->
        </td>
      </tr>
    </tfoot>
  </table>
</div>
