<div class="container-contents">
  <h3>Parties<a [routerLink]="['/parties/add/']" class="btn btn-primary float-right mb-3">Add Party</a></h3>
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Abbr</th>
        <th>Members</th>
        <th>Active</th>
        <th style="width: 230px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="filters"><input type="text" id="party-name-filter" class="form-control" [(ngModel)]="nameFilter" (keyup)="loadParties()" /></td>
        <td></td>
        <td class="filters"><input id="party-with-members-filter" type="checkbox" [(ngModel)]="withMembersFilter" (change)="loadParties()" /></td>
        <td class="filters"><input id="party-with-active-members-filter" type="checkbox" [(ngModel)]="withActiveMembersFilter" (change)="loadParties()" /></td>
        <td></td>
      </tr>
      <tr *ngFor="let party of pageOfParties">
        <td><a [routerLink]="['/parties/', party.id]">{{ party.name }}</a></td>
        <td>{{ party.abbr }}</td>
        <td>{{ party.totalMemberCount }}</td>
        <td>{{ party.activeMemberCount }}</td>
        <td>
          <div class="float-right">
            <a [routerLink]="['/members']" class="btn btn-info btn-sm">Members</a>
            <a [routerLink]="['/parties/edit/', party.id]" class="btn btn-primary btn-sm">Edit</a>
            <a [routerLink]="" (click)="delete(party.id)" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <jw-pagination [items]="parties" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
