<h3>
  Constituencies
  <a [routerLink]="['/constituencies/add/']" class="btn btn-primary float-right mb-3">Add Constituency</a>
  <a (click)="import()" class="btn btn-warning float-right mb-3" style="margin-right: 10px;">Import from API</a>
</h3>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input id="area-name-filter" class="form-control" [(ngModel)]="nameFilter" (keyup)="loadAreas()" /></td>
      <td>
        <select id="area-areatype-filter" class="form-control" [(ngModel)]="areaTypeFilter" (change)="loadAreas()">
          <option value="">-- Filter --</option>
          <option *ngFor="let areaType of (areaTypes$ | async)" value="{{ areaType.id }}">{{ areaType.name }}</option>
        </select>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let area of pageOfAreas">
      <td>{{ area.name }}</td>
      <td>{{ area.areaTypeName }}</td>
      <td><a [routerLink]="['/area/edit/', area.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(area.id)" class="btn btn-primary btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <jw-pagination [items]="areas" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
      </td>
    </tr>
  </tfoot>
</table>
